@mixin moduler-img-upload {
        width: 14rem;
        height: 14rem;
        border-radius: 5px;
        background: #050A1B;
        font-size: 0.8rem;
        color:#fff;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #23394E;
    
}