.dynamic-cards{
    .contacts-img{
        width:3.5rem;
    }
    .day-count{
        font-size: 0.8rem;
        float:right;
        margin-right: 0.5rem;
        color: rgba(229, 229, 229, 0.5);
    }
    .dynamic-cards-title{
        font-size: 0.9rem;
    }
    .dynamic-cards-subtitle{
        font-size: 0.7rem;
        color: rgba(229, 229, 229, 0.5);
    }
}

.hr-header{
    position: relative;
    // display: flex;
    // align-items: center;
    .hr-title{
        position: absolute;
        top:-11px;
        color:#fff;
        // background-color: #7213E91A;
        z-index: 1;
        padding-right: 0.5rem;
    }
}

.blue-banner{
    width:100%;
    height: 350px;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 3.5rem;
    background: linear-gradient(90deg, #1E49E3 0%, #7213E9 100%);
    .banner-texts{
        width: 90%;
        margin-left: 10%;
        margin-top: 10%;
    }
    .banner-title{
        font-size: 2rem;
        font-weight: bold;
        color:#fff;
    }
    .banner-sub-title{

    }
    .banner-read-more{
        background: #00338E;
        color:#fff;
        font-size: 0.8rem;
    }
    .earthImg{
        position: relative;
       
        img{
            position: absolute;
            width:90%;
            top:-65px;
        }
    }
}

.dark-cards{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
  
        .threeDotsMenu{
           float: right; 
           cursor: pointer;
        }
        .title{
            font-size: 0.8rem;
        }
    
}

.pop-up-title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        font-size: 1.2rem;
        font-weight: 550;
    }
    .title-icon{
        position: absolute;
        right:0;
    }
}
.pop-up-icon{
    display: flex;
    justify-content: center;
}
.pop-up-tab{
    background: #FFFFFF1A;
    height: 2.3rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: 5px;
    cursor: pointer;
    img{
        width:1.7rem;
    }
    &:hover{
        transition: all 0.2s ease-in-out;
        background: #ffffff79;
    }
}

.pop-up-title2{
    height: 2.3rem;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    line-height: 1.7rem;
    font-weight: 650;
    .pop-close-modal{
        position: absolute;
        right:0;
        // font-weight: none;
        top:0.5rem;
        cursor: pointer;
        
    }
    
}

.pop-fn-sm{
    font-size: 0.7rem;
    line-height: 1rem;
    font-weight: bold;
    // color:#fff;
}
.pop-fn-sm2{
    font-size: 0.75rem;
    line-height: 0.8rem;
    color:#E5E5E5;
}
.pop-up-learn-more{
    font-size: 0.75rem;
    color:#fff;
    font-weight: 550;
    cursor:pointer;
}
.gradient-shadow{
    position:absolute;
    height: 100%;
    width: 200px;
    right:0;
    z-index: 1;
    background-image: linear-gradient(270deg, #0B233B 0%, rgba(11, 35, 59, 0) 100.1%);
}
.error-message{
    // color:red;
}

.create_collection_pop_up{
    position: relative;
    .create_collection_pop_up_title{
        position: relative;
        span{
            font-size: 1.5rem;
            font-weight: 550;
        }
        .pop-close-modal{
            position: absolute;
            right:0;
            // font-weight: none;
            top:0.5rem;
            cursor: pointer;
            
        }
    }
    .img-holder{
        width: 14rem;
        height: 14rem;
        border-radius: 5px;
        background: #050A1B;
        font-size: 0.8rem;
        color:#fff;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #23394E;
    }
    .input-label{
        font-size: 0.8rem;
        font-weight: 550;
    }
    .input-form{
        width: 100%;
        height: 2rem;
        border-radius: 2px;
        background-color: #fff;
        border:none;
    }
    .selected-btn{
        width: 100%;
        border-radius:2px;
        height: 2rem;
        font-size: 0.8rem;
        font-weight: 550;
        background-color: #1E49E3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .unselected-btn{
        width: 100%;
        border-radius:2px;
        border: 1px solid #FFFFFF;
        height: 2rem;
        font-size: 0.8rem;
        font-weight: 550;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .create_collection_pop_up_footer{
        button{
            float: right;
            width: 10rem;
            height: 3rem;
            border-radius: 5px;
            font-size: 0.9rem;
            background-color: #1E49E3;
            &:hover{
                background-color: #355ef0;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;
            }
        }
    }
}
.upload-csv{
    background-color: transparent;
    color:#fff;
    border:1px solid #fff;
    font-size: 0.8rem;
    width:10rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}